<!DOCTYPE html>
<html>
  <head>
    <title>LR8</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h3>Лабораторная работа №8 <br>
    Вариант 14 <br>
    Выполнил Куценко Александр <br>
    Группа ИУ6-34Б</h3>
    <%= yield %>
  </body>
</html>
